<header>
    <nav>
        <a href="/blog">blog</a>
        <a href="">about</a>
        <a href="">contact</a>
        <a href="">twitter</a>
        <a href="">ig</a>
        <a href="">git</a>
    </nav>
</header>