
<header>
    <nav>
        <div class="wtw">
            <h1>Whats The Word ?</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/blog">blog</a></li>
                <li><a href="/blog/about">about</a></li>
                <li>
                     <div><a href="https://twitter.com/kaiusse"><ion-icon  id="twit" name="logo-twitter"></ion-icon></a>
                     </div>
                </li>
                <li>
                    <div><a href="https://github.com/kayishau"><ion-icon id="git" name="logo-github"></ion-icon></a></div>
                </li>
            </ul>
            
            
            <!-- ================ MODAL ================== -->
            <!-- <div class="wrap">
                <a href="#M">contact</a>
                <div id="M" class="modal">
                    <div class="modal-content">
                        <form action="">
                            <div id="close-form">
                                <ion-icon name="close"></ion-icon>
                            </div>
    
                            <h5> Let's get in touch.</h5>
                            <label for="name">Name</label>
                            <input type="text" id="name" required>
    
                            <label for="email">Email</label>
                            <input type="email" id="email">
    
                            <label for="message">Message</label>
                            <textarea name="message" id="" cols="30" rows="5"></textarea>   
    
                            <button type="submit">submit</button>
                        </form>
                        <a href="#" class="overlay"></a>
                    
                    </div>
                </div>
            </div> -->
        </div>
       
    </nav>
</header>

