<!DOCTYPE html>
<html lang="en">
<head>
    <title>about.me</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
     <!-- =============== HEADER ================-->

     <%- include('./partials/header.ejs') %>

     <!-- =============== MAIN ================-->
     <section>

        <div>
            <h1><span>A</span>bout <span>M</span>e</h1>
    
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, laborum.</h5>
    
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem veniam facilis fugiat blanditiis, nostrum inventore eaque dolorem doloribus! Similique autem, saepe asperiores rerum quos perspiciatis expedita. Autem neque nam repellendus. Quam repellat laudantium fuga harum, ex ipsum nisi autem suscipit eius nostrum, perferendis in architecto sint sapiente dolorum debitis voluptate error, odit aut doloremque nesciunt quas hic nemo! Totam, culpa?</p> 
        </div>
    
        <div>
            <img src="" alt="N/A">
        </div>

     </section>
    
     <!-- =============== FOOTER ================-->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>