<!DOCTYPE html>
<html lang="en">
<head>
    <title>about.me</title>
    <%- include('./partials/head.ejs') %>
</head>
<body class="main">
     <!-- =============== HEADER ================-->

     <%- include('./partials/header.ejs') %>

     <!-- =============== MAIN ================-->

        <div>
            <h4>About Me</h4>
    
            <div class="center about-me-intro">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, laborum.</h5>
            </div>
            <div class="center show-excert">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem veniam facilis fugiat blanditiis, nostrum inventore eaque dolorem doloribus! Similique autem, saepe asperiores rerum quos perspiciatis expedita. Autem neque nam repellendus. Quam repellat laudantium fuga harum, ex ipsum nisi autem suscipit eius nostrum, perferendis in architecto sint sapiente dolorum debitis voluptate error, odit aut doloremque nesciunt quas hic nemo! Totam, culpa?</p> 
        </div>
        </div>
    
        <div class="img">
            <img src="https://images.unsplash.com/photo-1625367581235-96f8dd1a0a8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2864&q=80" alt="N/A">
        </div>
    
     <!-- =============== FOOTER ================-->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>
