<!DOCTYPE html>
<html lang="en">
<head>
    <title>wtw.new</title>
   <%- include('./partials/head.ejs') %>
</head>
<body class="main">
 <!-- =============== HEADER ================-->

        <%- include('./partials/header.ejs') %>

 <!-- =============== MAIN =================-->
    
      <div>
        <h4>so what's the word ?</h4>
        <h5 class="center">Time to spill.</h5>
      </div>
      <form class="form" action="/blog"  method="POST">
            <div>
              <label for="name">Name:</label>
              <input class="input-box" type="text" name="name">
            </div>
            <div>
              <label for="date">Date:</label>
               <input  class="input-box" type="text" name="date">
            </div>
            <div>
              <label for="title">Title:</label>
               <input class="input-box"  type="text" name="title">
            </div>
            <div>
              <label for="tag">Tag:</label>
               <input  class="input-box" type="text" name="tag">
            </div>
            <div>
              <label for="excert">Excert:</label>
               <input  class="excert" type="text" name="excert">
            </div>
            <div>
              <label for="image">Image:</label>
               <input  class="input-box"  type="text" name="image">
            </div>
          <input  class="submit" type="submit" value="Create Post">
      </form>
     
   
   
 <!-- =============== FOOTER ================-->
 <%- include('./partials/footer.ejs') %>

</body>
</html>

