<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>

    <h1>Mental Health Blog</h1>
    <form action="/health"  method="POST">
          <div>
            <label for="name">Name:</label>
            <input type="text" name="name">
          </div>
          <div>
            <label for="date">Date:</label>
             <input type="text" name="date">
          </div>
          <div>
            <label for="title">Title:</label>
             <input type="text" name="title">
          </div>
          <div>
            <label for="excert">Excert:</label>
             <input type="text" name="excert">
          </div>
          <div>
            <label for="tag">Tag:</label>
             <input type="text" name="tag">
          </div>
          <div>
            <label for="image">Image:</label>
             <input type="text" name="image">
          </div>
        <input type="submit" value="Create Post">
    </form>
   
</head>
<body>
    
</body>
</html>